@font-face {
    font-family: "BlackJackRegular";
    src: url("../fonts/BLACKJAR.eot?") format("eot"), url("../fonts/BLACKJAR.woff") format("woff"), url("../fonts/BLACKJAR.ttf") format("truetype"), url("../fonts/BLACKJAR.svg#BlackJackRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}